.form {
    padding: 20px 25px;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}

.form__taskInput {
    padding: 8px 15px;
    border: #ebebeb 2px solid;
}

.form__button {
    padding: 10px 15px;
    background-color: hsl(184, 100%, 25%);
    color: #fff;
    border: none;
    transition: 0.4s;
}

.form__button:hover {
    background-color: hsl(184, 100%, 35%);
    outline: none;
    transform: scale(1.1);
}

@media (max-width: 767px) {
    .form__button:hover {
        transform: none;
    }
}

.form__button:active {
    background-color: hsl(184, 100%, 20%);
}