.form {
    padding: 20px 25px;
    font-size: 22px;
    display: grid;
    grid-template-columns: 1fr 170px;
    grid-gap: 20px;
}

.form__taskContent {
    padding: 8px 15px;
    border: #ebebeb 2px solid;
}

.form__button {
    padding: 10px 15px;
    width: 170px;
    background-color: rgb(0, 120, 128);
    color: #fff;
    border: none;
}