.section {
    background-color: #fff;
    margin-top: 10px;
    box-shadow: 0px 0px 9px 7px #e6e5e5;
}

.section__header {
    font-size: 25px;
    font-weight: bold;
    padding: 20px 25px;
    border-bottom: #ebebeb solid 2px;
    margin: auto;
}

.section__header--listHeader {
    border: none;
    margin: 0;
}

.section__container {
    display: grid;
    grid-template-columns: 200px 1fr;
    border-bottom: #ebebeb solid 2px;
    justify-content: space-between;
}

@media (max-width: 767px) {
    .section__container {
        grid-template-columns: 1fr;
    }
}