.tasksList {
    padding: 32px 25px;
    font-size: 22px;
    margin: auto;
    list-style-type: none;
}

.tasksList__item {
    display: grid;
    grid-template-columns: 40px minmax(100px, 1fr) 40px;
    grid-gap: 10px;
    align-items: center;
    border-bottom: #ebebeb solid 2px;
    padding: 15px;
}

.tasksList__content {
    word-wrap: break-word;
}

.tasksList__content--done {
    text-decoration: line-through;
}

.tasksList__button {
    width: 35px;
    height: 35px;
    border: none;
    color: #fff;
}

.tasksList__button--markDone {
    background-color: hsl(135, 97%, 29%);
}

.tasksList__button--markDone:hover{
    background-color: hsl(135, 97%, 40%);
    outline: none;
}

.tasksList__button--markDone:active{
    background-color: hsl(135, 97%, 20%);
}

.tasksList__button--deleteTask {
    background-color: hsl(0, 100%, 40%);
}

.tasksList__button--deleteTask:hover {
    background-color: hsl(0, 100%, 55%);
    outline: none;
}

.tasksList__button--deleteTask:active {
    background-color: hsl(0, 100%, 30%);
}